<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <title>PyDiger</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
  <div class="menu">
    <a href="#" @click.prevent="currentPage = 'home'" :class="{ active: currentPage === 'home' }">Home</a>
    <a href="#" @click.prevent="currentPage = 'recent'" :class="{ active: currentPage === 'recent' }">Recent</a>
    <a href="#" @click.prevent="currentPage = 'licenses'" :class="{ active: currentPage === 'licenses' }">Licenses</a>
    <div class="dropdown">
      <button class="dropbtn">VCS</button>
      <div class="dropdown-content">
        <a href="#" @click.prevent="currentPage = 'vcs'">VCS</a>
        <a href="#" @click.prevent="currentPage = 'no-vcs'">No VCS</a>
        <a href="#" @click.prevent="currentPage = 'unrecognized-vcs'">Unrecognized VCS</a>
      </div>
    </div>
    <a href="#" @click.prevent="currentPage = 'about'" :class="{ active: currentPage === 'about' }">About</a>
  </div>

  <h1>PyDigger</h1>

  <div v-if="currentPage === 'about'">
    <h2>About PyDigger</h2>
  </div>

  <div v-if="currentPage === 'recent' && data">
    <h2>Recent uploads</h2>
    <project-list :projects="data.recent_projects"></project-list>
  </div>

  <div v-if="currentPage === 'licenses' && data">
  <h2>Licenses</h2>
  <table>
    <tr v-for="(count, license) in data.license.licenses"><td>{{license}}</td><td>{{count}}</td></tr>
  </table>
  <hr>
  <div>No License: {{data.license.no_license_count}}</div>
  <project-list :projects="data.license.recent_no_license_projects"></project-list>

  <hr>
  <div>Unrecognized License: {{data.license.bad_license_count}}</div>
  <project-list :projects="data.license.recent_bad_license_projects"></project-list>
  </div>

  <div v-if="currentPage === 'vcs' && data">
  <h2>VCS</h2>
  <table>
    <tr v-for="(count, host) in data.vcs.hosts"><td>{{host}}</td><td>{{count}}</td></tr>
  </table>
  </div>

  <div v-if="currentPage === 'no-vcs' && data">
  <h2>No VCS</h2>
  <div>No VCS: {{data.vcs.no_vcs_count}}</div>
  <project-list :projects="data.vcs.recent_no_vcs_projects"></project-list>
  </div>

  <div v-if="currentPage === 'unrecognized-vcs' && data">
  <h2>Unrecognized VCS</h2>
  <div>Unrecognized VCS: {{data.vcs.bad_vcs_count}}</div>
  <project-list :projects="data.vcs.recent_bad_vcs_projects"></project-list>
  </div>

  <div v-if="currentPage === 'home' && data">
  Total: {{data.total}}
  </div>

  <div class="footer" v-if="pypi">
    <div>Last data collection started at: {{new Date(pypi.start_date*1000)}}</div>
    <div>Number of entries in the RSS feed: {{pypi.projects_in_rss}}</div>
    <div>Source:
        <a href="https://github.com/szabgab/pydigger.rs">backend</a> |
        <a href="https://github.com/szabgab/pydigger-front">frontend</a> |
        <a href="https://github.com/szabgab/pydigger-data">data</a>
    </div>
  </div>
</div>


<script>
    const { createApp, ref } = Vue

    const ProjectList = {
        props: ['projects'],
        template: `
            <div>
                <div v-for="project in projects">
                    <div>
                        <a :href="'https://pypi.org/project/' + project.name">{{project.name}} {{project.version}}</a> 
                        - {{ Math.floor((new Date()-project.pub_date*1000)/1000) }} sec ago 
                        <a :href="'https://pypi.org/pypi/' + project.name + '/' + project.version + '/json'">json</a>
                    </div>
                </div>
            </div>
        `
    }

    createApp({
        components: {
            'project-list': ProjectList
        },
        methods: {
            async get_data() {
                this.data = await (await fetch("/data/report.json")).json()
                this.pypi = await (await fetch("/data/pypi.json")).json()
            }
        },
        beforeMount() {
           this.get_data()
        },
        setup() {
            const data = ref(null)
            const pypi = ref(null)
            const currentPage = ref('home')
            return {
                data, pypi, currentPage
            }
        }
    }).mount('#app')
</script>

</body>
</html>
